body{
    background: rgb(107, 107, 241);
    font-family: Arial;
    font-size: 18pt;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}

@media(max-width: 858px){
    section{
        width: 450px;
    }
}


@media(min-width:952px){
    section{
        width: 600px;
    }
}